header {
    background-color: dodgerblue;
    height: 100px;
    width: 100%;
    display: flex;
    padding: 5px;
}

header nav {
    display: inline;
    margin-top: 75px;
    font-size: larger;
    text-align: center;
}

header h1 {
    color: black;
    text-align: center;
    margin-left: 700px;
}

table {
    margin-top: 200px;
    margin-left: 200px;
    border:1px solid black;
}

td {
    text-align: center;
    color: aqua;
}

